:host {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem !important;
}
.input {
  width: 100%;
  max-width: 50rem;
}
