<mat-card>
  <mat-card-header>
    <mat-card-title>Build CSV output</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4>Course</h4>
    <p>
      {{ course.name }}
      <a [routerLink]="['/canvas']" mat-button color="primary">
        Select another course
      </a>
    </p>
    <p>Students: {{ students.length }}</p>

    <ng-container *ngIf="columns() as columns">
      <h4>Columns</h4>
      <mat-chip-listbox
        [multiple]="true"
        (change)="updateColumns($event.value)"
        aria-label="Columns selection"
      >
        <mat-chip-option
          color="accent"
          [selected]="columns.includes(column)"
          [value]="column"
          *ngFor="let column of availableColumns"
        >
          {{ column }}
        </mat-chip-option>
      </mat-chip-listbox>
    </ng-container>

    <button mat-flat-button color="primary" [matMenuTriggerFor]="addColumn">
      Add columns
    </button>
    <mat-menu #addColumn="matMenu" class="menu">
      <button
        mat-menu-item
        (click)="addColumns(merger)"
        *ngFor="let merger of mergers"
      >
        {{ merger.title }}
      </button>
    </mat-menu>
  </mat-card-content>
</mat-card>

<app-ontask-csv [name]="course.name || ''"></app-ontask-csv>
