<mat-card>
  <mat-card-header>
    <mat-card-title>Build CSV output</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4>Course</h4>
    <p>{{ course.name }}</p>
    <p>Students: {{ students.length }}</p>

    <ng-container *ngIf="columnDefs$ | async as columnDefs">
      <h4>Columns</h4>
      <mat-chip-listbox
        [multiple]="true"
        (change)="updateDisplayColumns($event.value)"
        aria-label="Columns selection"
      >
        <mat-chip-option
          color="accent"
          [selected]="displayColumns.includes(column)"
          [value]="column"
          *ngFor="let column of columns$ | async"
        >
          {{ columnDefs.get(column) }}
        </mat-chip-option>
      </mat-chip-listbox>
    </ng-container>

    <button mat-flat-button color="primary" [matMenuTriggerFor]="addColumn">
      Add columns
    </button>
    <mat-menu #addColumn="matMenu" class="menu">
      <button mat-menu-item (click)="addColumns('summary')">
        Summary (Page views/participations)
      </button>
      <button mat-menu-item (click)="addColumns('assignments')">
        Assignments
      </button>
      <button mat-menu-item value="activity">Activity</button>
    </mat-menu>

    <h4>Export data</h4>
    <mat-form-field>
      <mat-label>Filename</mat-label>
      <input matInput [(ngModel)]="filename" />
    </mat-form-field>
    <br />
    <button mat-flat-button color="primary" (click)="download()">
      Download CSV
    </button>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="columnDefs$ | async as columnDefs">
  <mat-card-header>
    <mat-card-title>{{ course.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of displayColumns">
        <ng-container [matColumnDef]="column">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [sortActionDescription]="'Sort by ' + columnDefs.get(column)"
          >
            {{ columnDefs.get(column) }}
          </th>
          <td mat-cell *matCellDef="let student">{{ student[column] }}</td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 50, 100]"
      showFirstLastButtons
      aria-label="Select page of course students"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
