:host {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}

mat-chip-listbox {
  margin-bottom: 1rem;
}
mat-form-field {
  width: 50rem;
}
.menu {
  min-width: 30rem;
}
