<mat-toolbar color="primary">
  <a mat-button [routerLink]="['/']" class="ontaskify-logo">OnTaskify</a>
  <div class="toolbar-divider"></div>
  <a
    mat-button
    [routerLink]="['/canvas']"
    routerLinkActive="active"
    class="nav-item"
    >Canvas2OnTask</a
  >
  <!-- <a
    mat-button
    [routerLink]="['/forms']"
    routerLinkActive="active"
    class="nav-item"
    >Forms2OnTask</a
  >
  <a
    mat-button
    [routerLink]="['/quickly']"
    routerLinkActive="active"
    class="nav-item"
    >Quickly2OnTask</a
  > -->
</mat-toolbar>
<app-progress></app-progress>
<router-outlet></router-outlet>
