<mat-card *ngIf="rows(); else loading">
  <mat-card-header>
    <mat-card-title>Export data for OnTask</mat-card-title>
    <mat-card-subtitle>Students: {{ rows()!.length }}</mat-card-subtitle>
    <mat-form-field appearance="outline">
      <mat-label>Filename</mat-label>
      <input matInput [(ngModel)]="filename" />
      <button mat-flat-button matSuffix color="primary" (click)="download()">
        Download CSV
      </button>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      *ngIf="columns() as columns"
    >
      <ng-container *ngFor="let column of columns">
        <ng-container
          [matColumnDef]="column"
          [sticky]="['first_name', 'last_name'].includes(column)"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            [sortActionDescription]="'Sort by ' + column"
          >
            {{ column }}
          </th>
          <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 50, 100]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
