:host {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
}

.upload-field {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 4px;
  margin-bottom: 22px;

  p {
    margin: 0 0 0.75rem;
  }
}
